/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__LLik5 {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/AsideMenu/AsideMenu.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AsideMenu_container__8R7vb {
  padding: 20px;
  width: 35%;
  min-height: 500px;
  max-height: 87dvh;
  height: 87dvh;
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: auto;
}

.AsideMenu_title__LnpM1 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.AsideMenu_loading__w5FQT {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.AsideMenu_list__AdC1i {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/ProductCard/ProductCard.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ProductCard_card__F5Ind {
  width: 250px;
  position: relative;
}

.ProductCard_imgWrapper__tkYvQ {
  border: 1px solid #e1dddd;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductCard_img__M_tpM {
  object-fit: cover;
}

.ProductCard_title__wQgZ_ {
  font-size: 18px;
  font-weight: 600;
}

.ProductCard_price__fd5N6 {
  margin-bottom: 5px;
}

.ProductCard_favoriteIcon__f7h__ {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.ProductCard_icon__giRbN {
  font-size: 24px;
  color: red;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/ProductsBlock/ProductsBlock.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ProductsBlock_container__QJchI {
  width: 65%;
  min-height: 500px;
  max-height: 87dvh;
  height: 87dvh;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
}

.ProductsBlock_content__xSZMr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 20px;
}

.ProductsBlock_sortBlock__TIQyC {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.ProductsBlock_sortItem__3_U68 {
  display: flex;
  justify-content: center;
}
